# NN Heuristic Algorithm

In [48]:
import numpy as np
import pandas as pd
import random

In [49]:
data_df = pd.read_csv('15-Points.csv')
data_df

               x             y  City
0   5.500000e-08  9.860000e-09     1
1  -2.887330e+01 -7.980000e-08     2
2  -7.929160e+01 -2.140330e+01     3
3  -1.465770e+01 -4.338960e+01     4
4  -6.474730e+01  2.189820e+01     5
5  -2.905850e+01 -4.321670e+01     6
6  -7.207850e+01  1.815810e-01     7
7  -3.603660e+01 -2.161350e+01     8
8  -5.048080e+01  7.374470e+00     9
9  -5.058590e+01 -2.158820e+01    10
10 -1.358190e-01 -2.872930e+01    11
11 -6.508660e+01 -3.606250e+01    12
12 -2.149830e+01  7.319420e+00    13
13 -5.756870e+01 -4.325060e+01    14
14 -4.307000e+01  1.455480e+01    15

In [50]:
class City:
  def __init__(self,city,x,y):
    self.city = city
    self.x = x
    self.y = y
  def __repr__(self) -> str:
      return f'City(id:{self.city}, x:{self.x}, y:{self.y})'

In [51]:
def calculate_distance(point1,point2):
    return np.sqrt((point1.x-point2.x)**2+(point1.y-point2.y)**2)

In [52]:
def generate_distance_matrix(list_of_cities):
    distance_matrix = np.zeros((len(list_of_cities),len(list_of_cities)))
    for i in range(len(list_of_cities)):
        for j in range(i,len(list_of_cities)):
            dist = calculate_distance(list_of_cities[i],list_of_cities[j])
            distance_matrix[i][j] = distance_matrix[j][i] = dist

        distance_matrix[i][i] = np.inf
    print(distance_matrix[0])
    print(distance_matrix[0])
    distance_matrix_dict = dict(zip([i.city for i in list_of_cities], distance_matrix.tolist()))

    return distance_matrix_dict

In [53]:
def define_starting_point(list_of_cities):
    return random.choice(list_of_cities)

In [54]:
def choose_nearest_point(distance_matrix_dict,city):
    return np.argmin(distance_matrix_dict[city])

In [55]:
def NN_algorithm(data_df):
    list_of_cities = [City(int(row[1][2]),row[1][0],row[1][1]) for row in data_df.iterrows()]
    distance_matrix_dict = generate_distance_matrix(list_of_cities)
    # starting_point = define_starting_point(list_of_cities)
    starting_point = list_of_cities[0]
    for key in distance_matrix_dict.keys():
            distance_matrix_dict[key][0] = np.inf

    visited = [starting_point.city]

    all_cost = 0
    next_point = starting_point
    while len(visited) != len(list_of_cities):
        temp = next_point
        indx = choose_nearest_point(distance_matrix_dict,city=temp.city)
        
        for key in distance_matrix_dict.keys():
            distance_matrix_dict[key][indx] = np.inf

        next_point = list_of_cities[indx]
        visited.append(next_point.city)
        all_cost += calculate_distance(temp,next_point)
    all_cost += calculate_distance(next_point,starting_point)
    visited.append(1)
    return all_cost, visited

In [56]:
h,z = NN_algorithm(data_df)
h, z

[        inf 28.87330006 82.1295263  45.79853229 68.35015748 52.07763037
 72.07872878 42.02118426 51.01660496 54.99985149 28.72962105 74.40947126
 22.71014783 72.00534444 45.46281016]
[        inf 28.87330006 82.1295263  45.79853229 68.35015748 52.07763037
 72.07872878 42.02118426 51.01660496 54.99985149 28.72962105 74.40947126
 22.71014783 72.00534444 45.46281016]

(284.3810904080332, [1, 13, 2, 15, 9, 5, 7, 3, 12, 14, 10, 8, 6, 4, 11, 1])